name: CI

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  TARGET: lambda_lanczos_test

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install external programs and libraries
      run: |
        sudo apt-get update
        sudo apt-get install valgrind
        sudo apt-get install liblapacke-dev


    - name: Prepare Google Test
      run: |
        mkdir -p gtest_build
        cd gtest_build
        git clone https://github.com/google/googletest.git -b release-1.12.1
        cd googletest
        mkdir -p build
        cd build
        cmake .. -DBUILD_GMOCK=OFF
        make
        sudo make install

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      working-directory: ${{github.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_CXX_FLAGS="--coverage" -DCMAKE_EXE_LINKER_FLAGS="--coverage"

    - name: Build
      working-directory: ${{github.workspace}}/build
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      # run: cmake --build . --target $TARGET --config $BUILD_TYPE
      run: make $TARGET VERBOSE=1

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C $BUILD_TYPE --verbose

    - name: Memory Test
      working-directory: ${{github.workspace}}/build
      run: valgrind --leak-check=full --error-exitcode=1 ctest -C $BUILD_TYPE

    - name: Upload Code-Coverage Data
      working-directory: ${{github.workspace}}/build
      if: success()
      run: bash <(curl -s https://codecov.io/bash)
